.Explanation {
  width: 100%;
  max-width: 750px;
  margin: auto;
  text-align: left;
}

.Explanation img {
  width: 100%;
  max-width: 750px;
}

.Explanation svg {
  display: block;
  width: 50%;
  margin: 0 auto;
}
