@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

svg.IngredientCard {
  width: 2.5in;
  margin: 7px 10px;
}

svg.IngredientCard .SvgTextArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: black;
  font-size: 5px;
  font-family: "Quintessential", serif;
}

svg.IngredientCard .name .SvgTextArea {
  font-size: 6px;
  font-weight: bold;
  text-shadow: #e9deac 0.03em 0.03em 0.01em;
}

svg.IngredientCard .prep .SvgTextArea {
  font-size: 3px;
}

svg.IngredientCard .SvgScales .SvgTextArea {
  font-size: 2.25px;
  color: white;
}
